page-login {
    .main-content {
        margin-top: 50vw;
    }
    .login-content {
        padding-bottom: 3vw;
    }
    .forgot-password {
        padding-top: 2vw;
        text-align: center;
        text-decoration: underline;

    }
}
